#=======================================================================================================================
#
#   Copyright 2011, 2012, 2013, 2014, 2015, 2016, 2017 Institut fuer Neuroinformatik, Ruhr-Universitaet Bochum, Germany
# 
#   This file is part of cedar.
#
#   cedar is free software: you can redistribute it and/or modify it under
#   the terms of the GNU Lesser General Public License as published by the
#   Free Software Foundation, either version 3 of the License, or (at your
#   option) any later version.
#
#   cedar is distributed in the hope that it will be useful, but WITHOUT ANY
#   WARRANTY; without even the implied warranty of MERCHANTABILITY or
#   FITNESS FOR A PARTICULAR PURPOSE. See the GNU Lesser General Public
#   License for more details.
#
#   You should have received a copy of the GNU Lesser General Public License
#   along with cedar. If not, see <http://www.gnu.org/licenses/>.
#
#=======================================================================================================================
#
#   Institute:   Ruhr-Universitaet Bochum
#                Institut fuer Neuroinformatik
#
#   File:        cedar.conf
#
#   Maintainer:  Mathis Richter
#   Email:       mathis.richter@ini.rub.de
#   Date:        2010 11 29
#
#   Description: Cedar configuration file. Copy this to cedar.conf and insert the appropriate settings for your system.
#
#   Credits:
#
#=======================================================================================================================

# Configuration file for CMake

#windows only
if (WIN32)
set(BOOST_INCLUDEDIR "C:/boost_1_65_0/")
set(BOOST_LIBRARYDIR "C:/boost_1_65_0/lib64-msvc-14.0")
link_directories(${BOOST_LIBRARYDIR})
set(BOOST_ROOT "C:/boost_1_65_0/boost")
set(Boost_USE_STATIC_LIBS ON)
set(Boost_USE_MULTITHREADED ON)
set(Boost_DEBUG ON)
endif(WIN32)

# general options
set (CEDAR_LIB_DIR        "${CEDAR_HOME}/lib"         CACHE PATH "Directory all cedar libraries will be stored in.")
set (CEDAR_EXE_DIR        "${CEDAR_HOME}/bin"         CACHE PATH "Directory all cedar executables will be stored in.")
set (CEDAR_LOG_DIR        "${CEDAR_HOME}/logs"        CACHE PATH "Default directory for all log files.")
set (CEDAR_BUILD_STATIC_LIBS              0           CACHE BOOL "Build all libraries statically (*.a)?")
set (CEDAR_PORTABLE                       0           CACHE BOOL "Build a portable cedar version? You may need to run (your OS)deployqt afterwards.")
set (CEDAR_PORTABLE_HOME_DIR              0           CACHE BOOL "Save the userdata (.cedar) relative to the executable for portability.")
set (CEDAR_PORTABLE_MAC_BUNDLE_PATHS      0           CACHE BOOL "Rename directories to resolve mac bundle conflicts? You need to run macdeployqt afterwards manually if you want to build a bundle.")
set (CEDAR_PORTABLE_MINIMAL_VERSION       0           CACHE BOOL "The portable version requires only minimal dependencies.")
set (CEDAR_BUILD_DEBUG_VERSION            0           CACHE BOOL "Build with debug information?")
set (CEDAR_BUILD_USE_OPENCV_DEBUG_LIBS    0           CACHE BOOL "Use opencv debug libraries when building in debug mode?")
set (CEDAR_USE_QT5                        1           CACHE BOOL "Use Qt5 and the associated plot libraries.")
#set (CEDAR_STOP_ON_MISSING_LIBRARIES      0           CACHE BOOL "Stop when libraries cannot be found by cmake?")

# extra tests
set (CEDAR_BUILD_TESTS                    0           CACHE BOOL "Build unit and interactive tests? (Disabling this can save compile time.)")
set (CEDAR_COVERAGE_TEST                  0           CACHE BOOL "Execute coverage testing? (Enabling this will force Debug build.)")
set (CEDAR_BUILD_VALGRIND_CHECK           0           CACHE BOOL "Execute valgrind memory check? (Disabling this will save testing time, especially on Debug build.)")

# mandatory dependencies
set (CEDAR_OPENCV_CMAKE_DIR "/usr/share/OpenCV"     CACHE PATH "Directory where CMake will find the OpenCVConfig.cmake file.")
set (CEDAR_DEPENDENCY_QWT "/usr/include/qwt-qt4"             CACHE PATH "This is the default path in which cedar tries to find qwt.")
set (CEDAR_DEPENDENCY_QWTPLOT3D "/usr/local/include/qwtplot3d" CACHE PATH "This is the default path in which cedar tries to find qwtplot3d.")
set (CEDAR_DEPENDENCY_QGLVIEWER "/Library/Frameworks/QGLViewer.framework" CACHE PATH "This is the default path in which cedar tries to find QGLViewer.")
set (CEDAR_DEPENDENCY_QT5 "/usr/local/opt/qt" CACHE PATH "This is the default path in which cedar tries to find the QT5Library.")
set (CEDAR_DEPENDENCY_GLEW "/usr/local/lib" CACHE PATH "This is the default path in which cedar tries to find the GLEW library.")
set (CEDAR_DEPENDENCY_LIBRARIES "/usr/local/lib"    CACHE PATH "This is the default path in which cedar tries to find external libraries.")

if(CEDAR_USE_QT5)
  set(QT_UIC_EXECUTABLE ${CEDAR_DEPENDENCY_QT5}/bin/uic)
endif(CEDAR_USE_QT5)

# optional dependencies
set (CEDAR_DEPENDENCY_FFTW "/usr/include"                CACHE PATH "This is the default path in which cedar tries to find FFTW.")

# installation
set (CMAKE_INSTALL_PREFIX  "/usr/local")
set (CEDAR_LIB_INSTALL_DIR "lib"                               CACHE PATH "Directory all cedar libraries will be installed to.")
set (CEDAR_HEADER_INSTALL_DIR "include"                        CACHE PATH "A subdirectory called 'cedar' will be created within the given directory, where all cedar headers will be installed to.")
set (CEDAR_DOC_INSTALL_DIR "share/cedar"                       CACHE PATH "Directory where the cedar documentation will be installed to, if generated.")
set (CEDAR_EXE_INSTALL_DIR "bin"                               CACHE PATH "Directory of cedar executables")
